body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #fef6f9, #ffeef8); 
    margin: 0;
    padding: 20px;
}
img {
    width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    display: block;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
h2 {
    margin-top: 20px;
    color:#ff85a2;
}
h1{
    color: #ff85a2;
    font-size: 30px;
    text-align: center;
}
.titulo2{
    color:  #ff85a2;
    font-size: 30px;
}
.titulo3{
    color:#ff85a2;
}

a{
    display: inline-block;
    padding: 10px  15px;
    margin: auto;
    background-color: #ff85a2;
    border-radius: 8px;
}
a:hover {
    background-color: #ffb4a2;   
    color: white; 

    }

    .receta {
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}